// footer 笑臉和最底下版權區

.footer{
    .footer-plan{
        padding-top: 260px;
        height: 503px;
        text-align: center;
        background-color: #fff;
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
    }

    h2{
        font-weight: 700;
    }
    .price{
        display: inline-block;
        background-color: $price-cold-color;
        padding: 12px 32px;
        line-height: 25px;
        border-radius: 25px;
        margin-top: 48px;
        color: #fff;
        font-weight: 400;
    }
    p {
        text-align: center;
        padding: 16px 0px;
        background-color: $footer-bg-color;

    }
}