// 回到頂部按鈕

.toTop{
    display: inline-block;
    position: fixed;
    bottom: 120px;
    right: 180px;

    text-align: center;
    width: 70px;
    padding: 27px 0;
    text-decoration: none;
    font-weight: 700;
    background-color: $price-cold-color;
    color: #fff;

    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px #00000014;
}

