html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
	height: auto;
}

*,*::before,*::after{
	box-sizing: border-box;
    // outline: solid 1px red;
}
// 以上是CSS Reset


// 以下是版面樣式區塊
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

$font-color-dark: #221E1F;
$font-color-light: #747474;
$box-shadow-color: #00000014;
$footer-bg-color: #F5F5F5;
$star-color: #F5CA52;
$price-cold-color: #56C4C5;
$price-warm-color: #FF5D50;


body{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: $font-color-dark;
    background-color: #FAFAFA;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

.wrap{
    max-width: 1366px;
    margin: 0 auto;
    background-color: #fff;

}

.bg{
    .container{
        max-width: 1088px;
        margin: 0 auto;
    }
}

// 背景圖(放圓球和頂端banner)
.bg.home{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg);

    background-repeat: no-repeat, no-repeat;

    background-size: contain, 360px;

    background-position: top right, -222px 492px;

}

.bg.platform{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg);

    background-repeat: no-repeat;
    background-size: 360px;
    background-position: -223px -168px;
   
}

.bg.character{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg);
    background-repeat: no-repeat;
    background-position: 1140px 320px; 
}

.bg.client{
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg);
        background-repeat: no-repeat;        background-position: 1140px -180px; 
}

.bg.user{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg);
    background-repeat: no-repeat;        background-position: 50px 32px;
    background-size: 150px;

    h2{
        text-align: center;
        margin-bottom: 48px;
    }
}


// home 導覽列
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 24px 0 ;

    .logo{
        width: 218px;
        height: 40px;
    }

    .nav-price{
        color: #fff;
        background-color: $price-warm-color;
        padding: 8px 32px;
        line-height: 24px;
        border-radius: 24px;
    }
}

.home-body{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .home-text{
        p{
            color: $price-cold-color;
            line-height: 26px;
        }

        h1{
            margin-top: 8px;
            line-height: 70px;
            font-weight: 700;
        }

        h4{
            margin-top: 16px;
            line-height: 29px;
        }

    }

    .home-img{
        width: 532px;
        height: 534px;
        img{
                width: 100%;
                height: 100%;
                object-fit:cover;
        }
    }
}


// platform 三大平台我來搞定
.bg.platform .container{
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;

    h2{
        line-height: 46px;
        font-weight: 700;
        margin-bottom: 48px;
    }
}

.social-media{
    display: flex;
    justify-content: space-between;

    .media-item{
        display: flex;
        flex-direction: column;
        align-items: center;

        .media-logo{
            width: 90px;
    }

        .media-name{
            margin-top: 24px;
            margin-bottom: 24px;
            line-height: 35px;
            font-weight: 700;
        }

        .media-text{
            color: $font-color-light;
            line-height: 24px;
        }


}

}


// character 任何的角色我都能給
.ch-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ch-intro{
    text-align: center;
    h2{
        font-weight: 700;
        line-height: 46px;
    }

    h4{
        line-height: 29px;
        margin-top: 16px;
        margin-bottom: 48px;
    }
}

.ch-item{
    width: 260px;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;

    .ch-img img{
        border-radius: 12px 12px 0 0 ;
    }

    .ch-text{
        text-align: center;
        height: 128px;
        line-height: 24px;
        font-size: 16px;
        padding-top: 16px;
        padding-bottom: 24px;
        .ch-title{
            color: $price-cold-color;
            font-weight: 700;
            margin-bottom: 16px;
        }
    }

}

// client 快速了解客戶輪廓
 
.bg.client .container{
    padding-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

.client-box{
    width: 507px;
    height: 588px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-right: 137px;
}

.cl-item{
     width: 230px;
     box-shadow: 0px 2px 10px #00000014;border-radius: 12px;
     padding-top: 32px;
     padding-left: 32px;

    .cl-icon{
        width: 86px;
        height: 86px;
        display: flex;
        justify-content:center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;

        box-shadow: 0px 2px 10px #00000014;

        margin-bottom: 24px;

        img{
             width: 52px;
        }
     }

     h5{
         font-weight: 700;
         margin-bottom: 16px;
         line-height: 26px;
     }

     p{
         margin-bottom: 48px;
         line-height: 24px;
     }
}

.client-text{
    h2{
        line-height: 46px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    h5{
        line-height: 26px;
        margin-bottom: 24px;
    }

    p.price{
        display: inline-block;
        line-height: 25px;
        color: #fff;
        background-color: $price-cold-color;
        padding: 12px 32px;
        border-radius: 27px;

    }
}



// user 好評如潮

.bg.user{
    margin-bottom: 100px;
}

.user-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .user-img{
        width: 80px;
        img{
            border-radius: 50%;
        }
    }
    .user-item{
        padding: 32px 48px 32px 24px;
    }
}

.star{
    width: 90px;
    height: 16px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_star.svg);
    background-size: 16px;
    background-repeat: space;
}

.user-switch{
    display: flex;
    justify-content: center;

    .switch-circle{
        width: 10px;
        height: 10px;
        background-color: #DDD;
        border-radius: 50%;
        margin-right: 8px;

        &:nth-child(4){
            width: 16px;
            background-color: $star-color;
        }
    }
}


.footer{
    .footer-plan{
        padding-top: 260px;
        height: 503px;
        text-align: center;
        background-color: #fff;
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
    }

    h2{
        font-weight: 700;
    }
    .price{
        display: inline-block;
        background-color: $price-cold-color;
        padding: 12px 32px;
        line-height: 25px;
        border-radius: 25px;
        margin-top: 48px;
        color: #fff;
        font-weight: 400;
    }
    p {
        text-align: center;
        padding: 16px 0px;
        background-color: $footer-bg-color;

    }
}

.toTop{
    display: inline-block;
    position: fixed;
    bottom: 120px;
    right: 330px;

    text-align: center;
    width: 70px;
    padding: 27px 0;
    text-decoration: none;
    font-weight: 700;
    background-color: $price-cold-color;
    color: #fff;

    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px $box-shadow-color;
}